.quintuple-container {
    /* border: solid; */
    display: flex;
}

.quintuple-item {
    display: flex;
    flex-direction: column;
    border: solid green;
    justify-content: space-between;
    flex-grow: 1;
    height: 300px;
}

.state,
.initial-state,
.alphabet,
.final-states {
    border: solid sandybrown;
    height: 50%;
    overflow-y: scroll;
}

.state-initialstate-wraper {
    display: flex;
    flex-direction: column;
}

.state,
.initial-state,
.alphabet,
.final-states {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputState-buttonState-wraper,
.inputAlphabet-buttonAlphabet-wraper,
.selectFinalStates-buttonFinalStates-wraper {
    /* border: solid lawngreen; */
    display: flex;
    flex-direction: column;
}

.addAutomata {
    height: 100px;
    width: 100px;
    background-color: rgb(99, 241, 99);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addAutomata {
    transition: transform 500ms;
}

.plus {
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.addAutomata:hover {
    transform: scale(1.2, 1.2);
}

.addAutomata:active {
    transform: scale(0.8, 0.8);
}

table,
thead,
th,
tbody,
tr,
td {
    border: solid 1px;
    border-collapse: collapse;
}

.functions-title {
    text-align: center;
    
}
.functions-container{
    background-color:rgb(220, 182, 255) ;
}

.block-functions {
    border: solid 0.2px;
    background-color: rgb(220, 182, 255);
    display: flex;
    flex-direction: column;
}

.block-functions-head {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.block-functions-body {
    display: flex;
    flex-direction: column;
}

.block-functions-body-head {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.block-functions-body-body {
    background-color: rgb(220, 182, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.functions-container {
    justify-content: start;
}

.function-selected {
    background-color: rgb(220, 182, 255);
    height: 60%;
}


.functions-title {
    width: 100%;
}

.operationsContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.result-title{
    margin-bottom: 1rem;
}

.selected {
    background-color: #3498db; /* Puedes reemplazar '#3498db' con el color que desees */
    color: white; /* Cambia el color del texto si es necesario */
}
