.quintuple-container {
    border: solid;
    display: flex;
}

.quintuple-item {
    display: flex;
    flex-direction: column;
    border: solid green;
    justify-content: space-between;
    flex-grow: 1;
    height: 300px;
}

.state,
.initial-state,
.alphabet,
.final-states {
    border: solid sandybrown;
    height: 50%;
    overflow-y: scroll;
}

.state-initialstate-wraper {
    display: flex;
    flex-direction: column;
}

.state,
.initial-state,
.alphabet {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputState-buttonState-wraper, .inputAlphabet-buttonAlphabet-wraper {
    border: solid lawngreen;
    display: flex;
    flex-direction: column;
}